html,
body {
    margin: 0;
    padding: 0;
    color: var(--black);
    background: #E5E5E5;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

:root {
    --black: #3B434E;
    --gray-light: #EBEBEB;
    --white: white;
    --primary: #7653FC;
    --primary-hover: #271083;
    --red: #FC836D;
    --green: #1DC37E;
    --green-lite: #1DC37E;
    --font-family: 'Noto Sans KR', sans-serif;
}